
body, html {
    font-size: small;
}
body {
    background: #fff;
    color: #222;
}
body, td, a, p {
    font-family: arial,sans-serif;
}
.logo {
    margin: auto;
    width: fit-content;
    height: 225px;
    margin-top: 81px;
    z-index: 991;
}
#logo {
    padding-top:101px;
}
.form {
    margin: auto;
    width: fit-content;
    display: block;
}
.big-input-bar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 584px;
}

.big-input-bar:hover {
    box-shadow: 0 2px 4px rgba(116, 116, 116, 0.25), 0 1px 1px rgba(116, 116, 116, 0.22);
}

.input-bar {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
.input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
    margin-left: 4px;
    margin-top: 3px;
    width: 470px;
}
.search-icon {
    margin-top: 12px;
    margin-left:15px;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    color: #9AA0A6;
}
.voice-icon {
    padding-right: 15px;
    padding-top:10px;
    padding-bottom:10px;
}
nav {
    border: 1px solid rgb(255, 255, 255);
    height: fit-content;
    padding-top: 8px;
}
.nav-links {
    z-index: 987;
    min-width: 275px;
    float: right;
    padding-left: 30px;
    padding-right: 14px;
    position: relative;
    text-align: right;
    display: flex;
    margin: 0;
}
.nav-items {
    padding-left: 11px;
    padding-right: 9px;
}
.nav-items a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}
.gmail-img {
    padding-top: 5.5px;
}
.gmail-img .link:hover {
    text-decoration: underline;
    color: rgb(90, 90, 90);
}
.gmail-img .apps-img:hover {
    opacity: 1;
}
.apps-img {
    opacity: 0.55;
}
#blue-button {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: #fff;
}
.buttons-section {
    display:flex;
    margin: auto;
    width: fit-content;
    padding-top: 18px;
    top: 53px;
    z-index: 0;
    height: 70px;
}
.button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.button:hover {
    border: 1px solid #adadad;

}
.google-area {
    line-height: 28px;
    margin: auto;
    width: fit-content;
}
.footbar {
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
    font-size: 10pt;
    position: fixed;
    width: 100%;
    left: 0;
}
.footer-top {
    margin-left: 30px;
    text-align: left;
    color: rgba(0,0,0,.54);
    font-size: 15px;
    height: 40px;
    

}
.footer-bottom {
    height: 40px;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
    font-size: 13px;
    width: 100%;
    

}
.footer-items-right {
    float: right;
    margin-right: 28px;
}
.footer-item {
    text-align: left;
    color: #5f6368;
    text-decoration: none;
    padding-left: 27px;
    display: inline-block;
}

@media only screen and (max-height: 768px) {
    .logo {
        margin-top: 47px;
        height: 215px;
    }
    #logo {
        padding-top:91px;
    }
    
}
@media only screen and (max-width: 1300px) {
    .big-input-bar {
        position: relative;
        margin: 0 auto;
        padding-top: 6px;
        width: 484px;
    }
    .input {
        width: 370px;
    }
    
}

